<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accepted Food</title>
    <link rel="stylesheet" href="/static/details.css" />
  </head>
  <body>
    <%- include('nav') %>
    <main>
      <h2>User Details</h2>

      <div class="card-container">
        <% acceptedFood.forEach(food => { %>
        <div class="card">
          <div class="name"><%= food.foodname %></div>
          <div class="details">Quantity: <%= food.quantity  %></div>
          <div class="details">Expiry Date: <%= food.expiryString  %></div>
          <div class="details" style="color: green; font-size: large;">Status: Accepted</div>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
