<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Composting</title>
    <link rel="stylesheet" href="/static/WasteFoodManagement.css">
</head>
<body>
    <%-include('nav')-%>
    <main>
        <h2>Composting</h2>
        <div class="card-container">
            <div class="form section">
                <form>
                    <label for="compost-company">Composting Company Name</label>
                    <input type="text" id="compost-company" name="compost-company" required>
        
                    <label for="contact-person">Contact Person</label>
                    <input type="text" id="contact-person" name="contact-person" required>
        
                    <label for="contact-email">Contact Email</label>
                    <input type="email" id="contact-email" name="contact-email" required>
        
                    <label for="contact-phone">Contact Phone</label>
                    <input type="text" id="contact-phone" name="contact-phone" required>
        
                    <label for="compost-details">Composting Details</label>
                    <input type="text" id="compost-details" name="compost-details" required>
        
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
