<%-include('header')-%>
<%-include('nav')-%>
<main>
    <h1>Welcome to Smart Food Waste Management</h1>
    <p>Please use the navigation menu to explore various options and features of our application.</p>
</main>
<%-include('footer')-%>
