<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Food</title>
    <link rel="stylesheet" href="/static/Registration.css" />
  </head>
  <body>
    <%-include('nav')-%>
    <main>
      <h2>Add Food</h2>
      <form action="/route/add_food" method="POST">
        <label for="foodName">Food Name:</label>
        <input type="text" id="foodName" name="foodName" required /><br />
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required /><br />
        <label for="expiry">Expiry Date:</label>
        <input type="date" id="expiry" name="expiry" required /><br />
        <label for="status">Status:</label>
        <select id="status" name="status" required>
          <option value="accepted">Accepted</option>
          <option value="rejected">Rejected</option></select
        ><br />
        <button type="submit">Add Food</button>
      </form>
    </main>
  </body>
</html>
