<nav>
    <ul>
        <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li class="dropdown">
                Donor
                <ul class="dropdown-content">
                    <li><a href="/register_donor">Add Donor</a></li>
                    <li><a href="/donor_details">Donor Details</a></li>
                </ul>
            </li>
            <li class="dropdown">
                User
                <ul class="dropdown-content">
                    <li><a href="/register_user">Add User</a></li>
                    <li><a href="/user_details">User Details</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Volunteer
                <ul class="dropdown-content">
                    <li><a href="/register_volunteer">Add Volunteer</a></li>
                    <li><a href="/volunteer_details">Volunteer Details</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Listed Foods
                <ul class="dropdown-content">
                    <li><a href="/listed_foods">Add Food</a></li>
                    <li><a href="/accepted_food">Accepted Food</a></li>
                    <li><a href="/rejected_food">Rejected Food</a></li>
                </ul>
            </li>
        <li class="dropdown">
            Waste Food Management
            <ul class="dropdown-content">
                <li><a href="/feed_animal">Feed Animal</a></li>
                <li><a href="/industrial_use">Industrial Use</a></li>
                <li><a href="/composting">Composting</a></li>
                <li><a href="/landfill">Landfill</a></li>
            </ul>
        </li>
    </ul>
</nav>